<%- include("../components/layout/header") %>

<div class="container">
  <h1>Home Page</h1>
  <br />
  <ul class="list-group">
    <li class="list-group-item">
      <a class="btn btn-success" href="/khatabook">Khatabook</a>
    </li>
    <li class="list-group-item">
      <a class="btn btn-success" href="/customers">Customers</a>
    </li>
    <li class="list-group-item">
      <a class="btn btn-success" href="/customers/create">Add Customers</a>
    </li>
    <li class="list-group-item">
      <a class="btn btn-success" href="/entries/">Create An Entry</a>
    </li>
  </ul>
</div>

<%- include("../components/layout/footer") %>
