<%- include("../components/layout/header") %>

<div class="container">
  <h1>Home Page</h1>
  <br />
  <a class="btn btn-success" href="/khatabook">Khatabook</a>
</div>

<%- include("../components/layout/footer") %>
