<%- include("../components/layout/header" , {includeHeader : true }) %>

<div class="container main">
  <div class="col-5 shadow rounded p-4">
    <h1>Login Here</h1>
    <hr />

    <!--  -->
    <% if(locals.error) { %>
    <p class="alert alert-danger"><%= error%></p>
    <% } %>

    <form action="" method="post">
      <div class="form-group mt-3">
        <label for="" class="form-label">Email</label>
        <input
          type="email"
          name="email"
          class="form-control"
          value="<%= locals.formValues?.email %>"
        />
      </div>
      <div class="form-group mt-3">
        <label for="" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" />
      </div>

      <div class="d-grid mt-3">
        <input type="submit" value="Login" class="btn btn-dark btn-block" />
      </div>
    </form>
  </div>
</div>

<%- include("../components/layout/footer") %>
