<table class="table table-bordered table-hover text-center">
  <thead>
    <tr>
      <th>Sno.</th>
      <th>Date</th>
      <th class="text-danger">You Gave</th>
      <th class="text-success">You Got</th>
    </tr>
  </thead>

  <tbody>
    <% for (let index in locals.entries || []) { %>
    <tr>
      <td><%= +index+1 %></td>
      <td><%= entries[index].date.toDateString() %></td>
      <td class="text-danger"><%= entries[index].youGave %></td>
      <td class="text-success"><%= entries[index].youGot %></td>
    </tr>

    <% } %>
  </tbody>
</table>
