<div class="container mt-4">
  <div class="alert alert-success border rounded">
    You are adding entry for <b><%= selectedCustomer.name%></b> in Khatabook
    <b><%= selectedKhatabook.title%></b>
  </div>
</div>
